In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [118]:
df = pd.read_csv("Biotech_preprocessed_dataset_with_outliers.csv")
df['Time']=pd.to_datetime(df['Time'])
df

,Time,TOD,Hour,Day,Total (W),Phase_A (W),Phase_B (W),Phase_C (W),Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Holiday
0,2024-01-04 15:00:00,15:00:00,15,Thursday,821.0,207.0,467.0,147.0,False,False,False,False,True,False,False,False
1,2024-01-04 16:00:00,16:00:00,16,Thursday,741.0,298.0,329.0,114.0,False,False,False,False,True,False,False,False
2,2024-01-04 17:00:00,17:00:00,17,Thursday,776.0,363.0,278.0,135.0,False,False,False,False,True,False,False,False
3,2024-01-04 18:00:00,18:00:00,18,Thursday,1260.0,659.0,419.0,182.0,False,False,False,False,True,False,False,False
4,2024-01-04 19:00:00,19:00:00,19,Thursday,973.0,381.0,410.0,182.0,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,2024-07-08 05:00:00,05:00:00,5,Monday,1040.0,635.0,259.0,146.0,False,True,False,False,False,False,False,False
4455,2024-07-08 06:00:00,06:00:00,6,Monday,1414.0,1023.0,251.0,140.0,False,True,False,False,False,False,False,False
4456,2024-07-08 07:00:00,07:00:00,7,Monday,571.0,225.0,243.0,103.0,False,True,False,False,False,False,False,False
4457,2024-07-08 08:00:00,08:00:00,8,Monday,784.0,411.0,280.0,93.0,False,True,False,False,False,False,False,False
4458,2024-07-08 09:00:00,09:00:00,9,Monday,1824.0,1477.0,256.0,91.0,False,True,False,False,False,False,False,False

In [119]:
start_date = pd.to_datetime('2024-03-01')
end_date = pd.to_datetime('2024-06-01')
df = df[(df['Time']>=start_date) & (df['Time']<end_date)]
df

,Time,TOD,Hour,Day,Total (W),Phase_A (W),Phase_B (W),Phase_C (W),Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Holiday
1353,2024-03-01 00:00:00,00:00:00,0,Friday,792.0,410.0,198.0,184.0,True,False,False,False,False,False,False,False
1354,2024-03-01 01:00:00,01:00:00,1,Friday,733.0,222.0,326.0,185.0,True,False,False,False,False,False,False,False
1355,2024-03-01 02:00:00,02:00:00,2,Friday,706.0,222.0,300.0,184.0,True,False,False,False,False,False,False,False
1356,2024-03-01 03:00:00,03:00:00,3,Friday,684.0,302.0,197.0,185.0,True,False,False,False,False,False,False,False
1357,2024-03-01 04:00:00,04:00:00,4,Friday,784.0,400.0,199.0,185.0,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3556,2024-05-31 19:00:00,19:00:00,19,Friday,1070.0,702.0,194.0,174.0,True,False,False,False,False,False,False,False
3557,2024-05-31 20:00:00,20:00:00,20,Friday,689.0,212.0,295.0,182.0,True,False,False,False,False,False,False,False
3558,2024-05-31 21:00:00,21:00:00,21,Friday,718.0,213.0,322.0,183.0,True,False,False,False,False,False,False,False
3559,2024-05-31 22:00:00,22:00:00,22,Friday,606.0,222.0,200.0,184.0,True,False,False,False,False,False,False,False
3560,2024-05-31 23:00:00,23:00:00,23,Friday,1244.0,635.0,424.0,185.0,True,False,False,False,False,False,False,False

In [120]:
# generate a new dataframe containing columns for each hour
df_hours = pd.DataFrame(columns = [str(i) for i in range(24)])

# discard data after last date so that each column has equal number of rows
last_date = pd.to_datetime('2024-07-07 15:00:00')
df = df[df['Time']<last_date]

# copy the values of total power to corresponding hour columns of df_hours
for col in df_hours.columns:
    df_hours[col] = df[df['Hour']==int(col)]['Total (W)'].values

df_hours

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,792.0,733.0,706.0,684.0,784.0,722.0,962.0,662.0,513.0,525.0,...,1961.0,1993.0,541.0,510.0,793.0,829.0,949.0,659.0,748.0,1032.0
1,755.0,620.0,800.0,801.0,710.0,886.0,752.0,527.0,647.0,1086.0,...,775.0,627.0,699.0,521.0,770.0,762.0,662.0,1037.0,1144.0,814.0
2,580.0,580.0,1045.0,872.0,873.0,745.0,853.0,635.0,493.0,1287.0,...,1630.0,1804.0,1391.0,821.0,945.0,1358.0,790.0,695.0,773.0,944.0
3,1078.0,924.0,938.0,908.0,1068.0,810.0,879.0,692.0,834.0,1136.0,...,948.0,1137.0,861.0,1947.0,628.0,902.0,711.0,747.0,975.0,881.0
4,773.0,629.0,897.0,941.0,871.0,791.0,827.0,748.0,586.0,1972.0,...,1277.0,1495.0,1077.0,817.0,869.0,1029.0,889.0,903.0,792.0,757.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1238.0,744.0,655.0,610.0,1331.0,1463.0,858.0,843.0,1153.0,1828.0,...,1983.0,1902.0,1108.0,708.0,974.0,1544.0,1346.0,959.0,727.0,1469.0
88,1251.0,1411.0,924.0,910.0,1245.0,1395.0,1121.0,751.0,907.0,1051.0,...,1403.0,1494.0,655.0,833.0,954.0,1368.0,1533.0,899.0,678.0,951.0
89,1461.0,1469.0,953.0,908.0,709.0,1381.0,1095.0,740.0,931.0,923.0,...,5152.0,4936.0,769.0,837.0,797.0,1295.0,1111.0,660.0,871.0,1381.0
90,1284.0,785.0,760.0,666.0,1215.0,1324.0,579.0,871.0,453.0,1705.0,...,1678.0,1365.0,1090.0,644.0,1296.0,1494.0,1194.0,848.0,852.0,1770.0
91,1400.0,976.0,991.0,744.0,1489.0,1595.0,792.0,827.0,734.0,1781.0,...,2856.0,1822.0,555.0,711.0,1082.0,1070.0,689.0,718.0,606.0,1244.0

In [121]:
a = []
for col in df_hours.columns:
    # find mean and standard deviation
    mean = df_hours[col].mean()
    stdv = df_hours[col].std()
    size = 1000
    
     # generate 1000 normally distributed values 
    new_vals = np.random.normal(loc=mean, scale=stdv, size=1000)
    a.append(new_vals)

a = np.array(a)
a = a.T
a.shape

(1000, 24)

In [122]:
# generate a new dataframe of normally distributed values for each hour
hour_cols = [str(x) for x in range(24)]
df_hours_normal = pd.DataFrame(a, columns = hour_cols)
df_hours_normal

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1076.320360,828.346581,1219.789248,543.819523,1279.599524,1289.106635,713.754711,904.875404,792.696149,719.835635,...,929.130230,1463.236611,831.249466,573.135556,892.434492,1189.643677,1086.687711,1166.247472,532.281461,1138.076637
1,849.753895,716.630820,1182.098896,298.673687,1101.776936,712.358174,966.756431,1073.379549,1518.226976,1550.130117,...,33.585774,2756.302403,141.369965,1008.102461,694.093762,1009.634366,1453.309921,914.150648,1150.353574,812.341326
2,910.323766,1002.574235,1064.804913,1452.466020,1115.132525,961.411014,724.506971,749.804507,875.099465,1094.669973,...,4536.810759,432.857222,1270.940866,1760.213330,576.220313,846.826859,1027.620378,547.263084,919.510571,1160.950284
3,1000.216774,972.339384,740.118517,933.463748,998.821816,1097.646596,1125.161087,990.957877,1532.237905,432.918632,...,3211.089815,1365.601891,800.669917,1045.930153,1309.931730,1008.318321,876.515828,871.766796,1321.141147,1047.606393
4,1195.932150,1235.791039,1374.948682,1577.743329,1258.880312,1017.782146,931.870311,871.635582,1128.117811,1193.695438,...,333.709703,3312.896636,2333.735069,1069.618082,868.868412,786.758820,1151.996875,827.092366,1270.416838,955.876513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1004.713541,630.988014,1009.071898,1053.138468,1124.258472,1581.919236,1166.522717,839.778303,247.225645,2095.755023,...,2905.236771,1745.749795,1453.505123,698.714932,761.631676,479.703069,1052.801222,890.023818,1301.415079,874.699016
996,1101.564712,1295.220052,265.610716,1676.173578,704.014013,598.485695,455.527467,889.442301,1151.895640,1512.333451,...,2520.141518,2059.601115,909.150265,576.459083,1235.162681,1338.205724,1161.602445,961.881098,929.395591,582.177635
997,455.991631,1243.274544,778.428894,1462.527757,438.653952,956.720410,807.939174,984.745182,1028.162846,1342.806854,...,2381.696020,2658.076110,698.951666,1096.433739,1183.440038,1215.493558,1537.643216,913.528386,885.392066,1374.385437
998,1096.722637,714.875051,1299.891347,354.209685,1116.443268,1478.450496,669.179918,1041.652704,820.087498,984.716852,...,1208.378839,3264.371119,1234.685688,542.510223,552.606575,1122.077431,1131.098481,953.533765,762.237100,959.687036
999,842.280310,1210.593212,1114.191757,775.994898,1073.790630,1257.544958,913.790176,453.124272,706.616502,1813.172244,...,2142.474374,1298.545405,86.600235,408.973273,843.609870,1288.234980,763.190087,1101.021473,392.061586,1686.964196

In [123]:
df_hours_final = pd.concat([df_hours, df_hours_normal], ignore_index=True)
df_hours_final = df_hours_final.astype(int)
df_hours_final

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,792,733,706,684,784,722,962,662,513,525,...,1961,1993,541,510,793,829,949,659,748,1032
1,755,620,800,801,710,886,752,527,647,1086,...,775,627,699,521,770,762,662,1037,1144,814
2,580,580,1045,872,873,745,853,635,493,1287,...,1630,1804,1391,821,945,1358,790,695,773,944
3,1078,924,938,908,1068,810,879,692,834,1136,...,948,1137,861,1947,628,902,711,747,975,881
4,773,629,897,941,871,791,827,748,586,1972,...,1277,1495,1077,817,869,1029,889,903,792,757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,1004,630,1009,1053,1124,1581,1166,839,247,2095,...,2905,1745,1453,698,761,479,1052,890,1301,874
1088,1101,1295,265,1676,704,598,455,889,1151,1512,...,2520,2059,909,576,1235,1338,1161,961,929,582
1089,455,1243,778,1462,438,956,807,984,1028,1342,...,2381,2658,698,1096,1183,1215,1537,913,885,1374
1090,1096,714,1299,354,1116,1478,669,1041,820,984,...,1208,3264,1234,542,552,1122,1131,953,762,959
1091,842,1210,1114,775,1073,1257,913,453,706,1813,...,2142,1298,86,408,843,1288,763,1101,392,1686

In [125]:
c = []
for i in range(1091):
    b = df_hours_final.iloc[i]
    b = b.tolist()
    c.extend(b)

df_final = pd.DataFrame({'Power':c})
df_final

       Power
0        792
1        733
2        706
3        684
4        784
...      ...
26179   1122
26180   1131
26181    953
26182    762
26183    959

[26184 rows x 1 columns]

In [126]:
df_final.to_csv('normally_generated_seasoned_data.csv')